In [4]:
print ("hello world")
print ("hello")
print (type("morning"))

hello world
hello
<class 'str'>

In [6]:
print (type("True"))
print (type(True))

<class 'str'>
<class 'bool'>

In [7]:
n=100
print(n)

100

In [8]:
a=b=c=100
print(a,b,c)

100 100 100

In [9]:
a=10
b=5
a+b

15

In [10]:
a=10
b=5
print(a+b)

15

In [13]:
s="foo"
t=9
s+t

TypeError: can only concatenate str (not "int") to str

In [18]:
s="foo"
t=4
s*t

'foofoofoofoo'

In [19]:
s="foo"
t="4"
s+t

'foo4'

In [20]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
d=22
a+str(d)

'bab22'

In [28]:
MLB_team = {
    'Colorado': 'Rockies',
    'Boston': 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle': 'Mariners'}

In [29]:
person = {}
type(person)

person['fname'] = 'Hack'
person['lname'] = 'PTP'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}

In [30]:
person

{'fname': 'Hack',
 'lname': 'PTP',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

In [38]:
print(person['pets']['cat'])

Sox

In [27]:
print(MLB_team['Minnesota'])

Twins

In [39]:
person1_age = 42
person2_age = 16
person3_age = 71

someone_is_of_working_age =
(person1_age >= 18 and person1_age <= 65) or (person2_age >= 18 and person2_age <= 65) or (person3_age >= 18 and person3_age <= 65)
someone_is_of_working_age

True